<!DOCTYPE html>
<html dir="rtl">
  <head>
    {{ partial "meta.html" }}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  </head>

  <body>
    {{ partial "nav.html" . }}
    <div class="content" id="contact">
      <div>
        <h3>כתובת</h3>
        חולון, רח’ הבנאי 29/134

        <h3>טלפון</h3>
        03-5586547 / 052-2681749

        <h3>Email</h3>
        <a href="mailto:{{ $.Site.Params.email }}?subject=הזמנה מהאתר"
          >{{ $.Site.Params.email }}</a
        >
      </div>

      {{ range $img := resources.Match "pics/contact/map.png" }} {{ $pos :=
      "32.0071,34.799" }}
      <a
        href="https://www.google.com/maps/place/{{ $pos }}/@{{ $pos }},17z/"
        alt="Link to Google-Maps."
      >
        <div
          id="map"
          style="
            min-height: 60vh;
            width: auto;
            background-image: url('{{ .Permalink }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
          "
        ></div>
      </a>
      {{ end }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
