<!DOCTYPE html>
<html dir="rtl">
  <head>
    {{ partial "meta.html" }}
    <title>כחיל הדפסות משי - צור קשר</title>
  </head>

  <body>
    {{ partial "nav.html" . }}
    <div class="content" id="contact">
      <div>
        <h3>כתובת</h3>
        רמלה, הרצל 84 <span style="font-size: large">(כניסה מרח' דני מס)</span>

        <h3>טלפון</h3>
        052-2681749

        <h3>Email</h3>
        <a href="mailto:{{ $.Site.Params.email }}?subject=הזמנה מהאתר"
          >{{ $.Site.Params.email }}</a
        >
      </div>

      {{ range $img := resources.Match "pics/contact/map.png" }}
      <a
        href="https://www.google.com/maps/place/Sderot+Herzl+84,+Ramla,+Israel"
        alt="Link to Google-Maps."
      >
        <div
          id="map"
          style="
            min-height: 60vh;
            width: auto;
            background-image: url('{{ .Permalink }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
          "
        ></div>
      </a>
      {{ end }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
